__pycache__/*
/*/*/__pycache__/*
/*/*/*/__pycache__/*
/*/__pycache__/*

data/*
log
data1
client_data/*
.idea
venv

test_script.py
fedagm_commands.txt
fedagm_job.sh
slurm-*
wandb/settings
Metrics